<!-- TODO(noam): move this to be loaded at the top of the page -->
<link rel="stylesheet" type="text/css" href="css/zocial.css" />
<div class="content">
  <div class="signins">
    <% if !user || !user.facebook_token %>
      <p><a class="zocial facebook" href="https://www.facebook.com/dialog/oauth?client_id=<%= FACEBOOK_APP_ID %>&redirect_uri=http://<%= APP_URL + FACEBOOK_AUTH_PATH %>&state=test&scope=friends_about_me,friends_education_history,friends_work_history,friends_status">Sign in with Facebook</a></p>
    <% end %>

    <% if !user || !user.google_token %>
      <p><a class="zocial googleplus" href="https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=<%= GOOGLE_CLIENT_ID %>&redirect_uri=http://<%= APP_URL + GOOGLE_AUTH_PATH %>&scope=https://www.google.com/m8/feeds+https://mail.google.com/mail/feed/atom+https://www.googleapis.com/auth/userinfo.profile+https://www.googleapis.com/auth/userinfo.email&access_type=offline">Sign in with Google</a></p>
    <% end %>
  </div>
</div>