<div data-role="page">
  <div data-role="header" data-theme="b"><h1>Corral</h1></div>

  <div data-role="content"> 
     Unfortunately this user does not use twitter, so Corral has nothing to show 
  </div>
</div>
